@model IList<DateTime>
<span class="bigtitle">Aktualne służenia</span>

<div class="dottedline"></div>
<div class="row text-center">
    <div class="col-sm-12">
        <b><h3>Niedziela @Html.Raw(Model[0].ToString("dd.MM.yy"))</h3></b>
        <p>
            7.00 Grupa 4 <br />
            10.00 Grupa 1 <br />
            @*16.30 Grupa 2 <br />*@
        </p>

        <b><h3>Poniedziałek @Html.Raw(Model[1].ToString("dd.MM.yy"))</h3></b>
        @*<p> 18.00 Gimnazjum</p>*@
        <p> 
            24.00 Grupa 2 <br />
            7.00 Grupa 3 <br />
            10.00 Grupa 4 <br />
            15.30 Nieszpory
        </p>
        <b><h3>Wtorek @Html.Raw(Model[2].ToString("dd.MM.yy"))</h3></b>
        @*<p>
             7.00 Grupa 1 <br/>
            18.00 Gimnazjum
        </p>*@
        <p>
            7.00 Grupa 2 <br />
            10.00 Grupa 3 <br />
            16.30 Grupa 4 
        </p>

        <b><h3>Środa @Html.Raw(Model[3].ToString("dd.MM.yy"))</h3></b>
        <p>
             7.00 Grupa 2      <br />
             @*8.00 Msza szkolna <br />*@
        </p>

        <b><h3>Czwartek @Html.Raw(Model[4].ToString("dd.MM.yy"))</h3></b>
        <p>
            7.00 Grupa 1     <br />
            17.30 Gimnazjum  <br />
        </p>

        <b><h3>Piątek @Html.Raw(Model[5].ToString("dd.MM.yy"))</h3></b>
        <p>
            @*7.00 Grupa 2     <br />*@
            18.00 Gimnazjum i Grupa 1  <br />
        </p>

        <b><h3>Sobota @Html.Raw(Model[6].ToString("dd.MM.yy"))</h3></b>
        <p>
             7.00 Gimnazjum <br /> 
            18.00 Grupa 4   <br />
        </p>
        <b><h3>Niedziela @Html.Raw(Model[7].ToString("dd.MM.yy"))</h3></b>
        <p>
             7.00 Grupa 1 <br />
            10.00 Grupa 2 <br />
            16.30 Grupa 3 <br />
        </p>
    </div>
</div>
