<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div id="logo">
            Parafia świętego Pawła w Pawłowie Ministranci
        </div>

        <div id="menu">
            <a href="@Url.Action("Index","Home")"><div class="option">Strona główna</div></a>
            <a href="@Url.Action("Shifts","Home")"><div class="option">Służenia</div></a>
            <a href="@Url.Action("AboutUs","Home")"><div class="option">O nas</div></a>
            <a href="@Url.Action("Groups","Home")"><div class="option">Grupy</div> </a>
            @*<a href="@Url.Action("Events","Home")"><div class="option">Wydarzenia</div></a>*@
            <a href="@Url.Action("Koledy","Home")"><div class="option">Kolędy</div></a>
            <a href="@Url.Action("Patron","Home")"><div class="option">Patron</div></a>
            <a href="@Url.Action("Contact","Home")"><div class="option">Kontakt</div></a>
            <a href="http://www.pawel.katowice.opoka.org.pl/cms2/" target="_blank"> <div class="option">Strona parafialna</div></a>
            <div style="clear:both;"></div>
        </div>
    

        <div id="topbar">
            <div class="row">
                <div id="topbarL" class="col-sm-3">
                    <img src="@Url.Content("~/Content/Pictures/herb.png")" />
                </div>
                <div id="topbarR" class="col-sm-9">
                    <span class="bigtitle">O nas słów kilka</span>
                    <div style="height: 15px;"></div>
                    Jesteśmy ministrancką grupą z Parafii świętego Pawła w Zabrzu-Pawłowie.<br> Zbiórki ministrantów w piątki o 17.00 lub 16.30 (w maju, październiku oraz w wielkim poście)
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
